In [6]:
import pandas as pd
import altair as alt
alt.data_transformers.disable_max_rows()
campaign = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv')
campaignYes = campaign[campaign["y"] == "yes"]
campaignOld = campaign[campaign["age"] > 60]
campaign.head(60)

    age            job   marital  ... euribor3m nr.employed   y
0    56      housemaid   married  ...     4.857      5191.0  no
1    57       services   married  ...     4.857      5191.0  no
2    37       services   married  ...     4.857      5191.0  no
3    40         admin.   married  ...     4.857      5191.0  no
4    56       services   married  ...     4.857      5191.0  no
5    45       services   married  ...     4.857      5191.0  no
6    59         admin.   married  ...     4.857      5191.0  no
7    41    blue-collar   married  ...     4.857      5191.0  no
8    24     technician    single  ...     4.857      5191.0  no
9    25       services    single  ...     4.857      5191.0  no
10   41    blue-collar   married  ...     4.857      5191.0  no
11   25       services    single  ...     4.857      5191.0  no
12   29    blue-collar    single  ...     4.857      5191.0  no
13   57      housemaid  divorced  ...     4.857      5191.0  no
14   35    blue-collar   married  ...     4.857      5191.0  no
15   54        retired   married  ...     4.857      5191.0  no
16   35    blue-collar   married  ...     4.857      5191.0  no
17   46    blue-collar   married  ...     4.857      5191.0  no
18   50    blue-collar   married  ...     4.857      5191.0  no
19   39     management    single  ...     4.857      5191.0  no
20   30     unemployed   married  ...     4.857      5191.0  no
21   55    blue-collar   married  ...     4.857      5191.0  no
22   55        retired    single  ...     4.857      5191.0  no
23   41     technician    single  ...     4.857      5191.0  no
24   37         admin.   married  ...     4.857      5191.0  no
25   35     technician   married  ...     4.857      5191.0  no
26   59     technician   married  ...     4.857      5191.0  no
27   39  self-employed   married  ...     4.857      5191.0  no
28   54     technician    single  ...     4.857      5191.0  no
29   55        unknown   married  ...     4.857      5191.0  no
30   46         admin.   married  ...     4.857      5191.0  no
31   59     technician   married  ...     4.857      5191.0  no
32   49    blue-collar   married  ...     4.857      5191.0  no
33   54     management   married  ...     4.857      5191.0  no
34   54    blue-collar  divorced  ...     4.857      5191.0  no
35   55        unknown   married  ...     4.857      5191.0  no
36   34       services   married  ...     4.857      5191.0  no
37   52     technician   married  ...     4.857      5191.0  no
38   41         admin.   married  ...     4.857      5191.0  no
39   56     technician   married  ...     4.857      5191.0  no
40   58     management   unknown  ...     4.857      5191.0  no
41   32   entrepreneur   married  ...     4.857      5191.0  no
42   38         admin.    single  ...     4.857      5191.0  no
43   57         admin.   married  ...     4.857      5191.0  no
44   44         admin.   married  ...     4.857      5191.0  no
45   42     technician    single  ...     4.857      5191.0  no
46   57         admin.   married  ...     4.857      5191.0  no
47   40    blue-collar   married  ...     4.857      5191.0  no
48   35         admin.   married  ...     4.857      5191.0  no
49   45    blue-collar   married  ...     4.857      5191.0  no
50   54         admin.   married  ...     4.857      5191.0  no
51   39      housemaid   married  ...     4.857      5191.0  no
52   60         admin.   married  ...     4.857      5191.0  no
53   53         admin.    single  ...     4.857      5191.0  no
54   55    blue-collar   married  ...     4.857      5191.0  no
55   55     technician   married  ...     4.857      5191.0  no
56   50     management   married  ...     4.857      5191.0  no
57   45       services   married  ...     4.857      5191.0  no
58   55     unemployed   married  ...     4.857      5191.0  no
59   25     technician    single  ...     4.857      5191.0  no

[60 rows x 20 columns]

In [ ]:
alt.Chart(campaign).mark_bar().encode(
    x = "y",
    y = 'count(y)',
    column = "job"
)

In [ ]:
alt.Chart(campaignOld).mark_bar().encode(
    x = "y",
    y = 'count(y)',
    column = "age"
)

In [ ]:
alt.Chart(campaign).mark_bar().encode(
    x = "y",
    y = "count(y)",
    column = "education"
)

In [ ]:
alt.Chart(campaign).transform_joinaggregate(
    total = "count(*)"
).transform_calculate(
    pct='1 / datum.total'
).mark_bar().encode(
    alt.X('y'),
    alt.Y('count(y)', axis=alt.Axis(format='%')),
    column = "job"
)

In [ ]:
alt.Chart(campaign).mark_circle().encode(
    x = "age",
    y = 'campaign',
    color = "y"
)

In [ ]:
alt.Chart(campaign).mark_circle().encode(
    x = "age",
    y = 'euribor3m',
    color = "y"
)

In [ ]:
alt.Chart(campaign).mark_circle().encode(
    x = "euribor3m",
    y = 'campaign',
    color = "y"
)

In [ ]:
alt.Chart(campaign).mark_bar().encode(
    x = "y",
    y = "count(y)",
    column = "age"
)

In [ ]:
alt.Chart(campaign).mark_bar().encode(
    x = "y",
    y = "count(y)",
    column = "day_of_week"
)

In [ ]:
alt.Chart(campaign).mark_bar().encode(
    x = "y",
    y = "count(y)",
    column = "month"
)

In [ ]:
alt.Chart(campaign).mark_bar().encode(
    x = "y",
    y = "count(y)",
    column = "contact"
)